.login-page {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: Arial, sans-serif;
}


.login-box {
  width: 340px;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 255, 100, 0.4);
  color: white;
}

.brand {
  margin: 0;
  color: #7CFC00;
}

.subtitle {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 25px;
}

/* FORM CENTER */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INPUT */
.login-box input {
  width: 85%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #1c1c1c;
  color: white;
  font-size: 14px;
}

.login-box input:focus {
  box-shadow: 0 0 8px #7CFC00;
}

/* PASSWORD */
.password-wrapper {
  position: relative;
  width: 85%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

#togglePassword {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

/* BUTTON LEBIH KECIL */
.btn-login {
  width: 45%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #2e7d32;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-login:hover {
  background-color: #388e3c;
}

#message {
  margin-top: 12px;
  font-size: 14px;
}