* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f1e6;
}

#navbar .navbar {
  background-color: #6b8e23;
}

#navbar a {
  color: white;
}

.footer {
  width: 100%;
  padding: 12px 0;
  background-color: #6b8e23;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
