* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f1e6;
}

.navbar {
  padding: 0;
}

#navbar .navbar {
  background:
    radial-gradient(circle at top, rgba(124, 252, 0, 0.35), transparent 55%),
    radial-gradient(circle at bottom, rgba(124, 252, 0, 0.2), transparent 60%),
    #1f6b3d;
}

#navbar a {
  color: white;
  font-weight: bold;
}

.footer {
  width: 100%;
  padding: 12px 0;
  background:
    radial-gradient(circle at top, rgba(124, 252, 0, 0.35), transparent 55%),
    radial-gradient(circle at bottom, rgba(124, 252, 0, 0.2), transparent 60%),
    #1d5d37;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.card-img-custom {
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: 6px;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}

#banner {
  margin-top: 6px;
  width: 100%;
  aspect-ratio: 16 / 5;
  overflow: hidden;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}

#banner img {
  width: 100%;
  height: 100%;
}

.card {
  margin-left: 20px;
  margin-right: 30px;
  /* margin-bottom: 20px; */
}

.card:hover {
  /* background-color: #556b2f; */
  transform: translateY(-10px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.search-container {
  display: flex;
  justify-content: space-between; /* kiri & kanan */
  align-items: center; /* sejajar vertikal */
  margin-bottom: 20px;
}

.list {
  margin-left: 40px;
  margin-top: 20px;
}

.form-control {
  width: 200px; /* bisa kamu atur */
  margin-right: 40px;
  margin-top: 20px;
}

#container-data {
  margin-bottom: 50px;
}
